.about-section {
  background-color: #f9f9f9;
  padding: 60px 20px;
  text-align: center;
}

.about-container {
  max-width: 800px;
  margin: auto;
}

.about-title {
  font-size: 3.0rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

.about-description {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 30px;
  line-height: 1.6;
}

.about-features {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.feature-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.feature-card h3 {
  color: #2c3e50;
  font-size: 2.5rem;
}

.feature-card p {
  color: #777;
  font-size: 1.3rem;
}

.about-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background-color: #0056b3;
}
.about-section span{
    color:red;
}